/* globals */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;}
a {
    text-decoration: none;
    color: #e5e7eb;

}
ul {
    list-style: none;
}


/* section -1 */
.section-1 {
    background-color: #1f2937;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    margin-bottom: 44px;
    padding-top: 11px;
}
section header ul {
    display: flex;
}
header ul li {
    margin-left: 11px;
}
header h4 {
    font-weight: bolder;
    color: #f9faf8;
}
.section-1 section {
    display: flex;
    margin: 0 10%;
    gap: 2em;
    padding-bottom: 3em;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;

}
body > section > section > div.left > h3 {
    font-size: 48px;
    line-height: 50px;
}
body > section > section > div.left > p {
    margin-bottom: 11px;
}
body > section > section > div.left > button {
    border: none;
    background-color: #3882f6;
    border-radius: 3px;
    padding: 2px 15px;
}

/* section-2 */
.section-2 h3 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
    margin: 32px auto;
    text-align: center;
}

.section-2 .boxes .box p{
    color: #bdafaf;
}
.section-2 .box img {
    width: 200px;
    border-radius: 22px;
    margin-bottom: 8px;
}
.boxes {
    display: flex;
    gap: 3em;
    justify-content: space-evenly;
    margin: 0 10%;

}
.box {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 200px;
}
/* quote section */
.quote {
    background-color: #e5e7eb;
    padding: 4em 11em;
    /* text-align: center; */
    margin-top: 11em;
}

body > section.quote > p:nth-child(1) {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;

}
body > section.quote > p:nth-child(2) {
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin-left: 764px;
    margin-top: 11px;
}